<section class="intro">
  <div class="container">
	<h1 id="covid-19-tracker-for-india">COVID-19 Tracker for India</h1>
	<p>A simple, fast program to get various kinds of information about the status of COVID-19 in India.<br /> This program has been written in Python3 and a batch file is included for hassle free execution on Windows PCs.</p>
	<h2 id="libraries">Libraries</h2>
	<p>The following python standard libraries has been used:</p>
	<p>os : <a href="https://docs.python.org/3/library/os.html">https://docs.python.org/3/library/os.html</a><br /> urllib.request : <a href="https://docs.python.org/3/library/urllib.request.html#module-urllib.request">https://docs.python.org/3/library/urllib.request.html#module-urllib.request</a><br /> urllib.error : <a href="https://docs.python.org/3/library/urllib.error.html#module-urllib.error">https://docs.python.org/3/library/urllib.error.html#module-urllib.error</a><br /> json : <a href="https://docs.python.org/3/library/json.html">https://docs.python.org/3/library/json.html</a><br /> webbrowser : <a href="https://docs.python.org/3/library/webbrowser.html">https://docs.python.org/3/library/webbrowser.html</a><br /></p>
	<h2 id="use-of-public-apis">Use of public APIs</h2>
	<p>The following APIs have been used in this piece of software:</p>
	<p>India Postal PIN code API : <a href="http://www.postalpincode.in/Api-Details">http://www.postalpincode.in/Api-Details</a><br /> India Statewise Statistics API : <a href="https://api.rootnet.in/covid19-in/unofficial/covid19india.org/statewise">https://api.rootnet.in/covid19-in/unofficial/covid19india.org/statewise</a><br /> World Satistics API : <a href="https://covidapi.info/api/v1/global">https://covidapi.info/api/v1/global</a></p>
	<p>This project would not have been possible without <a href="https://covid19india.org">covid19india.org</a>.</p>
	<h2 id="screenshots">Screenshots</h2>
	<p>Screenshots of the program can be downloaded from <a href="https://github.com/deeptadeeproy/COVID-19-Tracker-India/tree/master/Screenshots">here</a>.</p>
	<h2 id="pull-requests">Pull Requests</h2>
	<p>Please include commit messages and write the first line of your commit message in the following style:</p>
	<p><code>Platform name : Changes made</code></p>
	<p>Please try to follow the <a href="https://chris.beams.io/posts/git-commit/#seven-rules">The seven rules of a great Git commit message</a> like to capitalize the subject line.<br /> If there are more details to add, put those into the body of the commit message.</p>
	<p>If you're new to Git, take a look at <a href="https://guides.github.com/introduction/git-handbook/">this short guide</a>.</p>
	<h2 id="license">License</h2>
	<p>This repository uses the <a href="/LICENSE">MIT License</a>.</p>
	<h2 id="maintainance">Maintainance</h2>
	<p>This repository is maintained by <a href="https://github.com/deeptadeeproy">deeptadeeproy</a>.</p>
  </div>
</section>
